<% provide(:title, 'Home') %>


<div id="main">


  <h2>Introduction Video</h2>



  <iframe width="540" height="345"
          src="http://www.youtube.com/embed/f6uHcu-wG_w" frameborder="1" allowfullscreen></iframe>

  <%= render :partial => 'players/points', :object => @players %>

</div>

<div id="sidebar">

  <%= render :partial => 'notices/recent', :object => @notices %>

</div>



