

<h2>Tennis Game</h2>



<select id="select_field">
  <option value ="australia" selected>Australia Open</option>
  <option value ="roland">Roland Garros</option>
  <option value ="wimbledon" >Wimbledon</option>
  <option value ="us">US Open</option>
</select>


<button type="button" onclick="Restart()" id="restart">Restart Game</button>

<p>
<canvas id="game" width="512" height="256"></canvas>
</p>

