// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table_list_players td{
  display:table-cell;
  vertical-align:middle
}

.player_image_thumb{
  width:50px; /* you can use % */
  height: auto;
}

.player_image{
  width:200px; /* you can use % */
  height: auto;
  margin: 15px 15px 15px 30px;
}

.player_info{
  margin: 10px;
}

.player_description{
  clear:both;
  margin: 30px;
}

.text_big{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
}
