

<h2>Ranking ATP</h2>

<table class="table table-bordered">
        <% @players.each_with_index do |player, i| %>
            <tr>
                <td class="first">
                    <%= (i+1) %>
                </td>
                <td>
                    <%= player.name %>
                </td>
                <td>
                    <%= player.points %>
                </td>
            </tr>
        <% end %>
</table>



