<h2>Recent news</h2>


  <% @notices.each do |notice| %>

    <div class="well">
        <b><%= link_to notice.title,notice %></b>
        <p><small><%= notice.created_at %></small></p>
        <%= (notice.content).split[0..50].join(" ")+"..." %>


    </div>
  <% end %>

<br />


