
<div>
    <% @notices.each do |notice| %>

          <h2>
            <%= notice.title %>
          </h2>
        <%= notice.created_at %>

          <article class="well" style="width: 700px;">
            <%= notice.content %>
          </article>

    <% end %>
</div>

<br />

<%= link_to 'New Notice', new_notice_path %>
